html{
	color:#ffffff;
	/*background:/*-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),*/
	background:url("https://wallpapers.com/images/featured/anime-boy-8jipzf1k9938k6gg.jpg");
	/*url("https://free4kwallpapers.com/uploads/originals/2022/03/28/anime-landscape-for-desktop-scenery-clouds-stars-buildings-wallpaper.jpg");*/
	background-color: rgba(0, 0, 0, 0.5);
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	background-size: cover;
}
body{

	margin: 10px;
	padding: 20px;
	font-size: 20px;
}
main{

	background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid whitesmoke;
	width: 35%;
	float: left;
}
aside{

	background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid whitesmoke;
	text-align: left;
	width: 55%;
	margin-left: 45%;
}
a{
	
  color:#ffffff;
  font-variant: small-caps;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: left;
  float: left;
}
img{
	
	border-radius: 50%;
	width: 150px;
	height: 150px;
}
